<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!-- 秘密鍵格納先フォルダ -->
    <add key="privateKeyFolder" value="privateKey"/>
    <!-- 秘密鍵ファイル名 -->
    <add key="privateKeyFileName" value="【触るな】privateKey.txt"/>
    <!-- 秘密鍵ファイルエンコーディング -->
    <add key="privateKeyEncoding" value="UTF-8"/>

    <!-- 公開鍵格納先フォルダ -->
    <add key="publicKeyFolder" value="publicKey"/>
    <!-- 公開鍵ファイル名 -->
    <add key="publicKeyFileName" value="{0}のpublicKey.txt"/>
    <!-- 公開鍵ファイルエンコーディング -->
    <add key="publicKeyEncoding" value="UTF-8"/>

    <!-- キーサイズ（ビット単位） -->
    <add key="keySize" value="2048"/>

    <!-- 暗号ファイルエンコーディング -->
    <add key="encryptFileEncoding" value="UTF-8"/>
  </appSettings>
</configuration>